<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="row">
    <div class="col-md-6">
      <!-- Profile Info -->
      <div class="profile-info text-center">
        <img src="assets/images/portrait.png" alt="Photo of Me" class="profile-photo img-fluid">
        <h1>Alex Running</h1>
        <h2>Web Developer, Dog Dad, DPS Main</h2>
      </div>
    </div>
    <div class="col-md-6">
      <!-- About Text -->
      <div class="about-text">
        <p>
          Hello! I'm Alex Running, a passionate web developer with a focus on creating engaging and efficient web applications. I have experience in Angular, React, and Node.js, and I love bringing ideas to life through code.
        </p>
        <p>
          In March of 2022, I started my coding journey. I wanted to challenge myself to be able to do more than just create an amazing MySpace page or make a colorful message in Runescape, so I joined a Coding Bootcamp. Fast forward to today, and I am a contract worker with PNC Bank.
        </p>
        <p>
          In my free time when I am not learning new coding concepts, I like to cook and try new foods, spend time with my family, or play video games with my friends. I am also trying to learn Japanese!
        </p>
      </div>
    </div>
  </div>
</div>
