.content-container {
  padding-top: 200px; // Adjust this value based on your actual navbar height
}
.spacing{
  font-size: 24px;
 padding-right : 180px;
 }
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  .profile-info {
    flex-basis: 40%;

    img.profile-photo {
      max-width: 100%;
      height: auto;
      border-radius: 10%;
      margin-bottom: 1rem;
    }

    h1, h2 {
      margin: 0;
    }
    h2{
      font-size: 1.5rem;
    }
  }

  .about-text {
    flex-basis: 70%;
    padding: 0 180px;
    margin: 0;

    p {
      text-align: center;
      line-height: 1.6;
      font-size: 24px;
    }
  }

}
.container-fluid {
  display: flex;
  align-items: center; // Vertically centers content
  justify-content: center; // Horizontally centers content
  padding:0;
}
