<div class="experience">
  <h1 id="experience-header" tabindex="-1">Experience</h1>

  <div class="experience-block">
    <h2>Associate Full Stack Developer at PNC Bank (March 2023-Current)</h2>
    <p>
      As an Associate Full Stack Developer at PNC Bank since March 2023, I have led the development and implementation of innovative software solutions for enterprise-level applications, enhancing performance and functionality with a skillful application of Angular, Typescript, Java, and Bootstrap.
      My proactive approach in software maintenance, leveraging tools like Jenkins and Sonarqube, has significantly reduced bug occurrences by 15%, ensuring efficient cross-functional collaboration and code quality. My commitment to agile development practices has been instrumental in delivering solutions on time
      and within budget, achieving a 10% reduction in development time through the adept use of IntelliJ, SmartGit, and BitBucket.
    </p>
  </div>

  <div class="experience-block">
    <h2>Associate Full Stack Developer at TEKsystems (November 2022-Current)</h2>
    <p>
      Prior to this, in my role at TEKsystems starting in November 2022, I honed my skills in developing versatile applications using HTML, CSS, Java, JavaScript, and SQL, resulting in a notable 15% improvement in user engagement and functionality.
      My deep understanding of Agile methodologies fostered a 20% increase in task completion rates, while my collaborative spirit expedited the development process, ensuring scalability and maintainability of the full stack applications.
    </p>
  </div>

  <div class="experience-block">
    <h2>MSHO/MSC+ Care Coordinator at HealthPartners (March 2021-November 2021)</h2>
    <p>
      Before transitioning into web development, I served as an MSHO/MSC+ Care Coordinator at HealthPartners, where I developed a strong foundation in effective communication, strategic planning, and time management.
      I adeptly integrated clinical and psychological data to formulate patient-centric care plans, a testament to my problem-solving capabilities that I
      have successfully translated into the web development domain to meet critical deadlines and project milestones.
    </p>
  </div>
  <!-- Add more divs for each job -->
</div>
