.navbar {
  background-color: #333 !important;
  backdrop-filter: blur(100px);

  .navbar-brand {
    color: #fff;
    font-size: 1.5em;
    &:hover {
      color: #fff;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    // Your existing background-image for the icon
  }

  // This targets the navbar-nav when the navbar is expanded (larger screens)
  .navbar-collapse {
    justify-content: flex-end; // Align nav items to the end
  }

  .navbar-nav {
    // Override flex-direction for larger screens
    @media (min-width: 992px) { // Adjust this breakpoint as needed
      flex-direction: row !important;
      margin-right: 50px;

      .nav-item {
        margin: 0 0.5em; // Horizontal spacing

        .nav-link {
          color: #fff;
          padding: 1.2em;
          font-weight: bold;
          &:hover {
            color: #ccc;
            transition: color 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
